<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/css/home.css" />
    <link rel="stylesheet" href="../../public/css/newYear.css" />
    <script src="../../public/js/general/navBar.js" type="module"></script>
    <script src="./../public/js/newYear.js" type="module" defer></script>
    <title>New Years Eve</title>
  </head>
  <body>
    <div class="nav">
      <input type="checkbox" id="nav-check" />
      <div class="nav-header">
        <div class="nav-title">Destaby</div>
      </div>
      <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>

      <div class="nav-links" id="nav-links">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/apps">Apps</a>
      </div>
    </div>

    <h1>New Years Eve</h1>

    <div class="countdown-container">
      <div class="countdown-el days-c">
        <p class="big-text" id="days">0</p>
        <span>days</span>
      </div>
      <div class="countdown-el hours-c">
        <p class="big-text" id="hours">0</p>
        <span>hours</span>
      </div>
      <div class="countdown-el mins-c">
        <p class="big-text" id="mins">0</p>
        <span>mins</span>
      </div>
      <div class="countdown-el seconds-c">
        <p class="big-text" id="seconds">0</p>
        <span>seconds</span>
      </div>
    </div>
  </body>
</html>
