<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../public/css/home.css" />
    <link rel="stylesheet" href="../public/css/apps.css" />
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>Apps</title>
  </head>
  <body>
    <div class="nav">
      <input type="checkbox" id="nav-check" />
      <div class="nav-header">
        <div class="nav-title">Destaby</div>
      </div>
      <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>

      <div class="nav-links">
        <a href="#">Home</a>
        <a href="#about">About</a>
        <a href="#apps" class="current">Apps</a>
        <a href="#register">Register</a>
        <a href="#login">Login</a>
      </div>
    </div>

    <div class="pimg1">
      <div class="ptext" id="delete">
        <span class="border"> Applications </span>
      </div>
    </div>

    <div class="container-2">
      <div class="container-2-box img img_breathe allowed">
        <a href="#breathe"><h3>Breathe</h3></a>
      </div>
      <div class="container-2-box img img_weather allowed">
        <a href="#weather"> <h3>Weather</h3></a>
      </div>
      <div class="container-2-box img img_chuck notAllowed">
        <a href="#chuck"> <h3>Chuck`s jokes</h3></a>
      </div>
    </div>

    <script>
      window.sr = ScrollReveal();
      const options = orig => ({
        distance: "140%",
        origin: orig,
        delay: 375,
        duration: 1000,
        easing: "ease-in",
        reset: true,
      });
      sr.reveal(".img_breathe", options("left"));
      sr.reveal(".img_weather", options("left"));
      sr.reveal(".img_chuck", options("left"));
    </script>
  </body>
</html>
