* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  /* position: fixed; */
  z-index: 1;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title,
.nav > .nav-header > .nav-name {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px;
}

.nav-name {
  margin-left: 10%;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  float: right !important;
  font-size: 18px;
  margin-right: 10px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover,
.current {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

#showcase > p > a {
  text-decoration: none;
  color: rgba(10, 10, 10, 0.7);
}

#showcase > p > a:hover {
  color: rgba(10, 10, 10, 1);
}

#showcase {
  background-image: url('../images/home.jpg');
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  min-height: 400px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 20px;
  margin-bottom: 0;
}

#showcase h1 {
  font-size: 50px;
  line-height: 1.2;
  margin-bottom: 30px;
}

#showcase p {
  font-size: 20px;
  margin: 20px 0;
  max-width: 700px;
}

#showcase .button {
  font-size: 18px;
  text-decoration: none;
  color: #1b1e1e;
  border: #1b1e1e 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
}

#showcase .button:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    z-index: 3;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }

  #showcase h1 {
    font-size: 40px;
    line-height: 1.1;
    margin: 10px 10px 10px 15px;
  }
}

@media (max-width: 350px) {
  #showcase h1 {
    font-size: 35px;
    line-height: 1;
    margin: 60px 10px 10px 15px;
  }

  .nav-name {
    display: none !important;
  }
}

/* body {
  min-width: 1340px;
  min-height: 580px;
}

h1 { 
  text-align: center;    
}

#Start-1 {
  position: absolute;
  top: 350px;
  left: 450px;
}

#Start-2 {
  position: absolute;
  top: 350px;
  left: 750px;
}

.Start {
  width: 152px;
  height: 42px;
  font-size: 25px;
  margin-left: 5px;
  margin-right: 5px;


  background: linear-gradient(to right, red, yellow);
  border-radius: 10px;
} */
