@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

* {
  box-sizing: border-box;
}

body {
  min-width: 360px !important;
  height: 100vh;
  position: absolute;
  background: url(../images/weather.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
}

.back {
  position: fixed;
  width: 100%;
  height: 100%;
  background: grey;
  opacity: 0.3;
}

.nav {
  position: fixed;
  z-index: 3;
}

.notify {
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  margin-left: -25%;
  margin-top: -100px;
  width: 50%;
  height: 200px;
  z-index: 2;
  text-align: center;
  padding-top: 3rem;
  font-size: 1.7rem;
}

.loading {
  display: none;
}

.loading:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: coral;
  border-bottom-color: coral;
  animation: spinner 0.7s ease infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.form {
  position: relative;
  top: 4rem;
  width: 100vw;
}

.form-group {
  width: 60%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: stretch;
  justify-content: space-around;
}

.form-row input {
  margin-left: 2rem;
  padding: 0.5rem;
  width: 25vw;
  border-radius: 10px;
}
.form-btn {
  position: relative;
  width: 20%;
  padding: 0.4rem;
  color: #fff;
  background: linear-gradient(90deg, #03a9f4, #f441a4, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 30px;
  text-align: center;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
}

.form-btn:hover,
.anim > div:hover {
  animation: animate 8s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.form-btn:focus,
.form-row input:focus {
  outline: none;
}

.form-btn > span {
  position: absolute;
  background: #fff;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: btnAnimate 1s linear infinite;
}

@keyframes btnAnimate {
  0% {
    width: 0;
    height: 0;
    opacity: 0.5;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}

.form-row label {
  color: #41a0e1;
  text-align: center;
}

.display-table {
  position: relative;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  top: 6rem;
  width: 100vw;
  padding-bottom: 2rem;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.dayImg span {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.days,
.temp,
.wind {
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.days * {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.days * > * {
  padding: 0.6rem 0;
}

.tempHeader,
.windHeader {
  width: 100%;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.3rem;
}

.temp,
.wind {
  margin-top: 0;
}

.dayTemp {
  width: 14%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tempTitles,
.tempValues {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  align-items: center;
  justify-content: space-around;
  padding: 0;
}

.tempValues {
  font-size: 1rem;
}

img {
  width: 2rem;
}

.dayWind span {
  font-size: 1rem;
  padding: 8%;
}

/* .display-table {
  display: table;
  position: relative;
  top: 8rem;
  width: 100vw;
  padding: 0 2rem;
}
.display-table > div {
  display: table-row;
}
.display-table > div > div {
  display: table-cell;
  padding: 1rem 0.3rem;
  text-align: center;
  border: 1px solid #0c0f80;
  background: linear-gradient(90deg, #03a9f4, #f441a4, #ffeb3b, #03a9f4);
  background-size: 400%;
  color: #fff;
} */

.sorry {
  color: #8e7f82;
}

@media (max-width: 900px) {
  .form-group {
    width: 75%;
  }

  .form-row input {
    margin-left: 0.4rem;
  }

  .dayWind span {
    font-size: 0.8rem;
    padding: 2%;
  }
}

@media (max-width: 600px) {
  .tempTitles,
  .smd {
    display: none;
  }

  .form {
    top: 3rem;
  }

  .display-table {
    top: 4rem;
  }

  .form-group {
    flex-direction: column;
  }

  .form-btn {
    width: 50%;
    margin: 1rem auto;
    min-width: 60px;
  }
  .form-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-row input,
  .form-row label {
    width: 70%;
    margin: 0.5rem 0.2rem;
    min-width: 120px;
  }
  .form-row label {
    font-size: 1.4rem;
  }
}

@media (max-width: 470px) {
  .dayDel,
  .coDel {
    display: none;
  }
}

@media (max-width: 330px) {
  .wind,
  .windHeader {
    display: none;
  }
}

/* @media (max-width: 700px) {
  .display-table {
    display: flex;
    flex-direction: row;
    width: 90vw;
    min-width: 250px;
    margin-left: 6vw;
    margin-right: 0;
    padding: 0;
  }
  .display-table > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
  .display-table > div > div {
    height: 5.5rem;
    width: 40vw;
  }
} */
